<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
  </head>
  <body>
    <h1>Add a User</h1>
    <form action="/users/new" method="POST" id="new-user-form">
      <input type="text" name="first-name" placeholder="Enter First Name" />
      <input type="text" name="last-name" placeholder="Enter Last Name" />
      <input type="url" name="image-url" placeholder="Provider a user image" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
