<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{user.full_name}} Details</h1>
    <img
      src="{{user.image_url}}"
      alt="Image of {{user.full_name}}"
      style="max-height: 200px"
    />
    <h3>First Name: {{user.first_name}}</h3>
    <h3>Last Name: {{user.last_name}}</h3>
    <form action="/users/{{user.id}}/edit">
      <button>Edit</button>
    </form>

    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a>
      </li>
      {% endfor %}
  </body>
</html>
